body {
  height: 100%;
  background-color: rgb(230, 225, 218);
  color: black;
  overflow-y: scroll;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
h1 {
  font-weight: bold;
  border-bottom: 2px solid rgb(201, 197, 191);
  padding: 10px 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.item-link {
  display: block;
  border-bottom: 2px solid rgb(201, 197, 191);
  padding: 10px 0px;
  justify-content: center;
}
.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  margin: 0px;
}
.item-icon {
  height: 4%;
  width: 4%;
  opacity: 0%;
  transition: opacity 0.3s;
}
ul:hover .item-icon {
  opacity: 100%;
}
.image-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 0%;
  width: 0%;
  transition: all 0.5s;
}
.item-link:focus .image-container {
  height: 100%;
  width: 100%;
  margin: 15px auto;
}
.item-link:focus .item-icon {
  transform: rotate(45deg);
  transition: 0.5s;
}
.item-link:hover .image-container {
  height: 100%;
  width: 100%;
  margin: 15px auto;
}
.item-link:hover .item-icon {
  transform: rotate(45deg);
  transition: 0.5s;
}
.meme-image {
  height: 40%;
  width: 40%;
}
