body {
  height: 100%;
  background-color: rgb(230, 225, 218);
  color: black;
}
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
h1 {
  font-weight: bold;
  border-bottom: 2px solid rgb(201, 197, 191);
  padding: 10px 0;
}
